header(class="header bg-primary text-white py-3 mb-4")
  .container
    .row(class="align-items-center")
        .col-md-3
            .inter-logo
                a(href="/")
                img(
                    src="/images/anh.png"
                    alt="Logo"
                    style="height: 50px"
                )
        .col-md-9
            nav(class="inter-menu")
                ul(class="nav justify-content-end")
                    li(class="nav-item")
                    a(
                        href="/" 
                        class="nav-link text-white"
                    ) Trang chủ
                    li(class="nav-item")
                        a(
                            href="/product"
                            class="nav-link text-white"
                        ) Sản phẩm
                    li(class="nav-item")
                        a(
                            href="/admin/dashboard"
                            class="nav-link text-white"
                        ) Trang Admin
