include ../mixin/sub-menu.pug

header(class="header bg-light text-primary py-3 mb-4")
    .container
        .row(class="align-items-center")
            .col-md-2
                .inter-logo
                    a(href="/")
                        img(
                            src="/uploads/JS.png"
                            alt="Logo"
                            width="100"
                        )

            .col-4
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn btn-primary"
                        ) Tìm

            .col-6
                .inner-menu
                    ul(class="nav justify-content-end")
                        li(class="nav-item")
                            a(
                                href="/" 
                                class="nav-link text-primary"
                            ) Trang chủ
                        li(class= "sub-menu" )
                            a(
                                href="/product"
                                class="nav-link text-primary"
                            ) Sản phẩm 
                            - const pathProdutClient = "/product"
                            +sub-menu(productMiddleware, pathProdutClient)
                        li(class="nav-item")
                            a(href="/cart" class="nav-link text-primary") Giỏ hàng (#{minicart ? minicart.totalQuantity : "0"})
                        if(user)
                            li(class = "nab-item")
                                a(
                                    href="/user/info"
                                    class="nav-link text-primary"
                                ) Thông tin
                            li(class="nav-item")
                                a(
                                    href="/user/logout"
                                    class="nav-link text-primary"
                                ) Đăng xuất
                        else
                            
                            li(class="nav-item")
                                a(
                                    href="/user/register"
                                    class="nav-link text-primary"
                                ) Đăng ký
                            li(class="nav-item")
                                a(
                                    href="/user/login"
                                    class="nav-link text-primary"
                                ) Đăng nhập
       
