mixin product-item(item)
    div(
        class="col-md-4 mb-4"
    )
        div(
            class="card h-100 shadow-sm"
        )
            - if(item.thumbnail)
                img(
                    src=item.thumbnail
                    alt=item.title
                    class="card-img-top"
                    style="height: 300px; object-fit: cover"
                )
                if(item.featured == "1")
                    .inner-featured Nổi bật
                div(class="card-body px-3")
                    a(
                        href=`/product/${item.slug}`
                        class="card-title"
                    )= item.title
                    p(
                        class="card-text"
                    )
                        | Giá mới: 
                        span(class="text-danger fw-bold") #{item.newPrice}$
                        br
                        | Giá cũ: 
                        span(class="text-muted text-decoration-line-through") #{item.price}$
                        br
                        | Giảm: 
                        span(class="text-success") #{item.discountPercentage}%
                    a(
                        href=`/product/detail/${item.slug}`
                        class="btn btn-sm btn-primary mt-2"
                    ) Xem chi tiết

