mixin tableChildren(items, level = 1)
    each item in items
        - const prefix = Array(level + 1).join("-- ")
        tr
            td
                input(
                    type="checkbox"
                    name="id"
                    value=item._id
                )
            td #{item.index}
            td
                img(
                    src=item.thumbnail
                    alt=item.title
                    width="100px"
                    height="auto"
                )
            td #{prefix}#{item.title}
            td
                input(
                    type="number"
                    name="position"
                    value=item.position
                    min="1"
                    style="width: 60px"
                )
            td
                if (role.permission.includes("products-category_edit"))
                    if item.status == "active"
                        a(
                            href="javascript:;"
                            button-change-status
                            data-status=item.status
                            data-id=item._id
                            class="badge badge-success"
                        ) Hoạt động
                    else
                        a(
                            href="javascript:;"
                            button-change-status
                            data-status=item.status
                            data-id=item._id
                            class="badge badge-danger"
                        ) Dừng hoạt động
                else 
                    if item.status == "active"
                        button(
                            class="badge badge-success"
                        ) Hoạt động
                    else 
                        button(
                            class="badge badge-danger"
                        ) Dừng hoạt động 
            td
                if (role.permission.includes("products-category_view"))
                    a(
                        href=`${prefixAdmin}/product-category/detail/${item._id}`
                        class="btn btn-secondary btn-sm"
                    ) Chi tiết
                if (role.permission.includes("products-category_edit"))
                    a(
                        href=`${prefixAdmin}/product-category/edit/${item._id}`
                        class="btn btn-warning btn-sm"
                        id-delete=item._id
                    ) Sửa
                if (role.permission.includes("products-category_delete"))
                    button(
                        class="btn btn-danger btn-sm ml-1"
                        button-delete
                        id-delete=item._id
                    ) Xóa
        if item.children && item.children.length > 0
            +tableChildren(item.children, level + 1)
