extends ../../layout/default.pug
include ../../mixins/alert.pug

block main 
    h1(class="mb-4") Phân quyền
    +alert-success("5000")
    div(
        class=""
        id = "data-record"
        data-record = record
    )
    if(record)
        div(class="text-right")
        button(
            type="submit"
            class="btn btn-primary mb-3"
            button-submit
        ) Cập nhật

        table(
            class="table table-hover table-sm"
            table-permission
        )
            thead
                tr
                    th Tính năng
                    each item in record
                        th(class="text-center") #{item.title}
            tbody
                tr(
                    data-name = "id"
                    class = "d-node"
                )
                    td
                    each item in record
                        td(class="text-center d-none")
                            input(
                                type="text"
                                value=item._id
                            )
                tr
                    td(colspan="4")
                        b Danh mục sản phẩm
                tr(data-name="products-category_view")
                    td Xem
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products-category_create")
                    td Thêm mới
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products-category_edit")
                    td Chỉnh sửa
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products-category_delete ")
                    td Xóa
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")

                //- Sản phẩm
                tr
                    td(colspan="4")
                        b Danh sách sản phẩm
                tr(data-name="products_view")
                    td Xem
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products_create")
                    td Thêm mới
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products_edit")
                    td Chỉnh sửa
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="products_delete ")
                    td Xóa
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                //- Phân quyền
                tr
                    td(colspan="4")
                        b Nhóm quyền
                tr(data-name="view")
                    td Xem
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="create")
                    td Thêm mới
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="edit")
                    td Chỉnh sửa
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="delete ")
                    td Xóa
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
                tr(data-name="permission")
                    td Phân quyền
                    each item in record
                        td(class="text-center")
                            input(type="checkbox")
    
    form(
        method="post"
        action = `${prefixAdmin}/roles/permission?_method=PATCH`
        id = "form-permission"
        class="d-none"
    )
        div(class="from-group")
            input(
                type="text"
                class="form-control d-none"
                name="permission"
            )

    script(src="/admin/JS/permission.js") 
    script(src="/client/JS/script.js") 