extends ../../layouts/default.pug

block main
  div(class="container my-4 px-3")
    div(class="row")
      div(class="col-md-8 offset-md-2")

        if(productDetail.title)
          h1(class="mb-4") #{productDetail.title}

        if(productDetail.price)
          div(class="mb-4") Giá: 
            b #{productDetail.price}

        if(productDetail.discountPercentage)
          div(class="mb-4") Giảm giá: 
            b #{productDetail.discountPercentage}

        if(productDetail.stock)
          div(class="mb-4") Còn lại: 
            b #{productDetail.stock}

        if(productDetail.thumbnail)
          img(
            src=productDetail.thumbnail
            style="width: 150px; object-fit: cover"
            class="mb-4 d-block"
          )

        if(productDetail.position)
          div(class="mb-4") Vị trí: 
            b #{productDetail.position}

        if(productDetail.description)
          div(class="mb-4") #{productDetail.description}

        a(
          href=`${prefixAdmin}/product/edit/${productDetail._id}`
          class="btn btn-warning btn-sm"
          id-delete=productDetail._id
        ) Chỉnh sửa

  script(src="/admin/JS/product.js")
  script(src="/client/JS/script.js")
