extends ../../layouts/default.pug
include ../../mixin/box-head.pug

block main
    div(class="container my-4 px-3")
        div(class="row mb-3")
        div(class="col-12")
            h2(
                class="text-center text-primary"
            ) Trang danh sách sản phẩm

        div(class="row gx-4")
            each item in products
                div(
                    class="col-md-4 mb-4"
                )
                    div(
                        class="card h-100 shadow-sm"
                    )
                        - if(item.thumbnail)
                            img(
                                src=item.thumbnail
                                alt=item.title
                                class="card-img-top"
                                style="height: 300px; object-fit: cover"
                            )
                            div(class="card-body px-3")
                                a(
                                    href=`/product/${item.slug}`
                                    class="card-title"
                                )= item.title
                                p(
                                    class="card-text"
                                )
                                    | Giá mới: 
                                    span(class="text-danger fw-bold") #{item.price}$
                                    br
                                    | Giá cũ: 
                                    span(class="text-muted text-decoration-line-through") #{item.price}$
                                    br
                                    | Giảm: 
                                    span(class="text-success") #{item.discountPercentage}%
                                a(href=`/admin/product/detail/${item._id}`, class="btn btn-sm btn-primary mt-2") Xem chi tiết
